@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Martel:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Martel:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

.CodeMirror {
  height: 50vh;
  font-family: "JetBrains Mono", monospace;
  font-size: 11pt;
}

pre {
  font-family: "JetBrains Mono", monospace;
  font-size: 10pt;
}

.fg-gradient-black-green {
  color: var(--theme-ui-colors-a9, #66cc33);
  background: -webkit-linear-gradient(var(--theme-ui-colors-black-60,#000000), var(--theme-ui-colors-a9, #66cc33));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent
}

.fg-gradient-purple-red {
color: var(--theme-ui-colors-a9, rgb(233, 71, 59));
background: -webkit-linear-gradient(var(--theme-ui-colors-black-60,#a516b8), var(--theme-ui-colors-a9, rgb(233, 71, 59)));
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent
}
